* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    padding: 2rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

table {
    width: 60vw;
    margin: 0 auto;
    border: 1px solid black;
    border-radius: 4px;
}

table *:not(button) {
    padding: .5rem;
}

table tbody tr:not(:last-child) td {
    border-bottom: 1px solid black;
}



h1 {
    text-align: center;
}

.add-book-button {
    align-self: center;
    padding: .5rem 2rem;
}

dialog {
   padding: 24px;
   top: 50%;
   left: 50%;
   translate: -50% -50%;
}

dialog p {
    font-size: 1.5rem;
}
 
dialog form {
   display: flex;
   flex-direction: column;
   gap: 16px;
}
 
 
dialog form div {
   display: flex;
   gap: 12px;
   justify-content: flex-end;
}

dialog form div input[type="text"], dialog form div fieldset {
   width: 150px;
}

dialog form div fieldset {
    border: none;
    display: flex;
    gap: 12px;
}

dialog form .form-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
}


dialog form button {
    padding: 3px 24px;
}
 
 

